canvas{
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from{box-shadow:10px 10px 10px black;}
    to{box-shadow:10px 10px 10px green;}
}
body{
    background-color:greenyellow;
}
#time{
font-size:30px;
float:right;
margin-right:20px;    
}
#draw{
    color:blue;
}
#sketch_name{
    color:red;
}
#score{
    font-size:30px;
    margin-left:20px;
}
p,span{
    padding-top:20px;
    font-size:30px;
}